@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");

body {
	background-color: #eae8fe;
	font-family: "Noto Sans KR", sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.logo {
	text-align: center;
	margin-bottom: 4.25em;
}

.vending_machine {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	gap: 28px;
	font-weight: 500;
}

.content_left {
	-ms-flex-item-align: start;
	align-self: flex-start;
	-ms-flex-preferred-size: 22.5rem;
	flex-basis: 22.5rem;
	background: #ffffff;
}

.content_right {
	-ms-flex-preferred-size: 22.5rem;
	flex-basis: 22.5rem;
}

.content_right_top {
	-ms-flex-item-align: start;
	align-self: flex-start;
	margin-bottom: 16px;
	padding: 9px 27px;
	background: #ffffff;
}

.content_right_bottom {
	-ms-flex-item-align: start;
	align-self: flex-start;
	background: #ffffff;
}

/** 전체 음료 목록**/
.all_list {
	display: grid;
	grid-template-columns: repeat(3, 94px);
	grid-auto-rows: minmax(8.125rem, auto);
	gap: 0.75rem;
	margin: 31px 27px 20px;
	list-style: none;
}

button[class="btn_list_all_item"] {
	border-radius: 10px;
	background: #ffffff;
	-webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
	filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}

img[class$="list_img"] {
	width: 36px;
	padding: 11.07px 29.07px 6.07px;
}

.tit_item {
	font-size: 0.563rem;
	padding: 0px 10px 11px 7px;
}

.txt_price {
	font-size: 0.75rem;
	color: #ffffff;
	background: #6327fe;
	border-radius: 50px;
	padding: 5px 15px;
}

/** 잔액표시와 입금하기**/
.select_wrap {
	margin: 0px 27px 24px;
}

.select_grid_items {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.info_balance {
	padding: 6px 10px;
	border-radius: 5px;
	font-size: 0.88rem;
	background: #eae8fe;
}

.txt_balance {
	font-size: 0.88rem;
}

.btn_return {
	width: 5.875rem;
	height: 33px;
	font-size: 0.813rem;
	font-weight: 500;
	border-radius: 5px;
	background: #ffffff;
	-webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
	filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}

#payment {
	width: 12.5rem;
	height: 33px;
	background: #ffffff;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	font-size: 0.813rem;
}

.btn_pay {
	width: 5.875rem;
	height: 32px;
	font-size: 0.813rem;
	font-weight: 500;
	border-radius: 5px;
	background: #ffffff;
	-webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
	filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}

/** 선택한 음료 목록**/
img[class$="select_img"] {
	width: 18px;
}

/* 소지금, 획득한 음료*/
.txt_mymoney {
	font-size: 0.825rem;
	font-weight: 500;
	width: 306px;
	border-radius: 5px;
	background: #eae8fe;
	padding: 6px 10px;
}

.txt_money {
	font-size: 0.825rem;
	font-weight: 700;
}

.tit_myitem {
	font-size: 0.875rem;
	font-weight: 700;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 13px;
}

.my_items {
	-ms-flex-item-align: center;
	align-self: center;
	width: 306px;
	background: #eae8fe;
	border-radius: 5px;
}

img[class$="my_items_img"] {
	width: 18px;
}

.txt_total_price {
	font-size: 0.75rem;
	font-weight: 500;
}
